
      <div class="container">
        <div class="row">
        <img src="https://static.tildacdn.com/tild6630-6639-4862-b031-623063303033/kisspng-cafe-food-di.png" alt="" height="150px" width="210px">
        
        
        <div class="col-1">
        <h1 style="font-weight: 700;position: relative;top: 30px;font-family: 'Montserrat', sans-serif;letter-spacing: 3px;">COOKLIST</h1>
        

        
        
   
        </div>
        <div class="col-5">
        <ul  style="position: relative;top: 39px;right: -10cm;">
          <li style="display: inline-block; margin: 10px 5px;"><a style="color:#000;font-size: 20px;transition: 0.2s;" href=""><i class="fab fa-instagram lala"></i></a></li>
          <li style="display: inline-block; margin: 10px 5px;"><a style="color:#000; ;font-size: 20px;transition: 0.2s;" href=""><i class="fab fa-facebook lala"></i></a> </li>
          <li style="display: inline-block; margin: 10px 5px;"><a style="color:#000; ;font-size: 20px;transition: 0.2s;" href=""><i class="fas fa-envelope lala"></i></a></li>
          <li style="display: inline-block; margin: 10px 5px;"><a style="color:#000; ;font-size: 20px;transition: 0.2s;" href=""><i class="fab fa-twitter lala"></i></a></li>
          <li style="display: inline-block; margin: 10px 5px;"><a style="color:#000; ;font-size: 20px;transition: 0.2s;" href=""><i class="fab fa-pinterest-p lala"></i></a></li>
        </ul>
      </div>
        
        <form class="form-inline my-2 my-lg-0 col-6" style="position: relative;top: -2.7cm;left:24cm;">
        <input style="border: 2px solid#000; font-style: italic;" class="form-control mr-sm-2" type="search" placeholder="search Recipes" aria-label="Search">
        <svg style="color: orange;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
       
        </form>
        <a id="logout" type="button"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;border: none;background-color: transparent;font-weight: 700;font-size: 20px;position: relative;left:425px ;top: -50px;"  href="/users/logout">Log Out</a>
      </div>
    </div>
    
       
    <nav class="navbar sticky-top navbar-expand-lg mt-5 " style="border: 3px solid #000;background-color: white;border-left: none;border-right: none;">
          <div class="container" style="position: relative;right: -6cm;">
              
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sticky-navbar"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="sticky-nav"> 
              <ul class="navbar-nav">
                <button class="btns lala" style="font-weight: 700;font-family: 'Montserrat', sans-serif;"><a href="dashboard">HOME</a></button>
                  <button class="btns lala" style="font-weight: 700;font-family: 'Montserrat', sans-serif;"><a href="foodnews">FOOD NEWS</a></button>
                    <div class="dropdown">
                      <button class="dropbtn lala" style="font-weight: 700;font-family: 'Montserrat', sans-serif;" >RECIPES</button>
                      <div class="dropdown-content">
                        <a href="vegetarianrecipe">Vegetarian</a>
                        <a href="dessertrecipe" >Dessert</a>
                        <a href="apptizerecipe">Apptizer</a>
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="dropbtn lala" style="font-family: 'Montserrat', sans-serif; font-weight: 700;">CUISINES</button>
                      <div class="dropdown-content">
                        <a href="asianrecipe">Asian Cuisine</a>
                        <a href="westernrecipe" >Western Cuisine</a>
                        <a href="indonesianrecipe">Indonesian Cuisine</a>
                      </div>
                    </div>
                    <button class="btns lala" style="font-weight: 700;font-family: 'Montserrat', sans-serif;" ><a href="about">ABOUT</a></button>
                      </div>
                  </div>   
              </nav><br>