<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
       <script src="https://kit.fontawesome.com/3a4bcfbf6d.js" crossorigin="anonymous"></script>
       <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Open+Sans:wght@700;800&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
       <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
     
    </head>
    <style>
     hr{
       border: none;
       border-top: 2px solid;
     }
     .footer {
      left: 0;
     bottom: 0;
     width: 100%;
     background-color:grey;
     color: white;
     text-align: center;
     }
     .pagination{
      margin: 10px 10px;
    }

    .pagination a {
      color: rgb(226, 60, 115);
      padding: 8px 16px;
      font-weight: 800;
      transition: background-color .3s;
    }

    .pagination a.active {
      background-color:rgb(226, 60, 115);
      color: white;
    }
    .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   .lolo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 1px #000;
    background:transparent;
    font-weight: 700;
    color: white;
    font-size: 4ch;
    border: none;

   }
   .lolo:hover{
     color: orange;
     
   }
   .card-title{
     font-weight: 600;
     letter-spacing: 2px;
     font-family:'Montserrat', sans-serif; ;
   }
   .dropdown-item{
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     letter-spacing: 2px;
   }

   .checked {
  color: orange;
}
        .nav-link{
    color:black;
    transition: 0.2s;
  }
  .nav-link:hover{
    color: orange;
  }
  .lala{
    color:black;
  }
  .lala:hover{
    color: orange;
  }

    </style>
    
    <body style="background-color: white;"><br>
      <%- include ("partials/navbar"); %>
        
                <nav aria-label="breadcrumb ml-5">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item"><a href="Project_About.html">About</a></li>
                    </ol>
                </nav>
                
                <div  style="background-color: white;" >
                  <div class="container">
                    <div class="row">
                    <div class="col-sm-8"><br>
                    <h2 style="font-family: 'Montserrat', sans-serif; font-size: 200%; font-weight: 700;letter-spacing: 3px; text-align: left;">HI, I`M MICHAEL</h2><br>
                    <div style="border: solid 2px BLACK;border-radius: 2px;padding: 10px;">
                    <h6 style="font-size: 115%; font-weight: 300;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">I’m a food lover, number cruncher, and meticulous budgeter. I love science and art, and the way they come together when I cook. I love to create, problem solve, and learn new things. Making great food is my passion, my purpose, and my favorite thing to share with others. Want to learn with me?</h6>
                    <img src="https://brewsuniq.com/storage/post/Sbqm2EbkApYBoaI8hO1CE4lZ7uyP3sbELL5wlvK7.jpeg" alt="masakan" width="700px" height="500px"><br><br>
                    <h3 style="font-family: 'Montserrat', sans-serif; font-size: 200%; font-weight: 700;letter-spacing: 3px; text-align: left;">QUICK INFO:</h3>
                    <p>Location: Nashville, TN</p>
                    <P>Age: old enough to remember life before Facebook. Adult life.</P>
                    <p>Education: B.S. Nutritional Science, Louisiana State University, 2007; B.S. Clinical Laboratory Science, Louisiana State University, 2011</p>
                    <p>Years Blogging: 11</p>
                    <p>What did you do before blogging: Microbiologist</p>
                    <p>Zodiac Sign: Scorpio</p>
                    <p>Favorite Charity: Feeding America</p>
                    <p>Savory or Sweet: SAVORY</p>
                    <p>Pie or Cake: Pie (the pizza kind)</p>
                    <p>Food Philosophy: Everything in moderation and KEEP IT SIMPLE.</p>
                    <p>Publications: Budget Bytes: Over 100 Easy, Delicious Recipes to Slash Your Grocery Bill in Half</p><br>
                    <h3 style="font-family: 'Montserrat', sans-serif; font-size: 200%; font-weight: 700;letter-spacing: 3px; text-align: left;">MY STORY</h3><br>
                    <p>I started Budget Bytes in 2009, at a point when I felt like I was losing the battle with adulthood. I had recently graduated from college, my student loans had gone into repayment, but I was working a low wage job and was barely able to make ends meet. I had already cut all discretionary spending from my budget, so the only place left to cut was food. Frustrated and unwilling to eat ramen noodles every day, I started tracking every penny that I spent on food to see if there were any small corners that could be cut. And that’s when everything changed.</p><br>
                    <p>The simple act of tracking my food costs was transformative. With all the data in front of me I was able to see where my money was being wasted and where I was was getting the most value. I began planning my meals and grocery lists around the budget savers and avoiding the budget sinkers. I started experimenting with new recipes, discovering new foods, and finding new ways to keep my stomach satisfied while still spending less. And that’s when Budget Bytes was born.</p><br>
                    <p>I didn’t think anyone would ever see the blog, but it was a fun project and a great way to document my recipes and progress. What I didn’t know at the time was how many other people were dealing with the same budget issues, and how many more people needed to learn basic cooking skills. When the enormity of these two things hit me, Budget Bytes stopped being just a hobby and became my mission.</p><br>
                    <img src="https://i1.wp.com/worldscholarshipforum.com/wp-content/uploads/2019/11/become-chef-school-salary-scaled-scaled.jpg?fit=1920%2C1280&ssl=1 alt="masakan" width="700px" height="600px"><br><br>
                    <p>Budget Bytes has been going strong for almost ten years and has never stopped growing! Since starting the blog, I’ve gone back to school for a second degree, published a cookbook, developed a Budget Bytes mobile app, and expanded the Budget Bytes website and team. I never could have imagined that life could be this amazing. Every day I’m overwhelmed with gratitude for having the opportunity to use my creativity in a way that makes a positive impact on the lives of others. I am the luckiest woman alive.</p><br>
                    <h3 style="font-family: 'Montserrat', sans-serif; font-size: 200%; font-weight: 700;letter-spacing: 3px; text-align: left;">Thanks for stopping by!</h3><br>
                    <br>
                    <img src="https://shonet.imgix.net/filemanager/shared/c51ce410_female-chef.jpg?q=75&auto=compress,format&w=825" alt="masakan" width="700px" height="450px"><br><br>
                <ul style="position: relative;right: -5cm;">
                  <li style="display: inline-block; margin: 10px 10px;"><a style="color:#ec51b1 ;font-size: 35px;transition: 0.2s;" href=""><i class="fab fa-instagram"></i></a></li>
                  <li style="display: inline-block; margin: 10px 10px;"><a style="color:#2980b9 ;font-size: 35px;transition: 0.2s;" href=""><i class="fab fa-facebook"></i></a> </li>
                  <li style="display: inline-block; margin: 10px 10px;"><a style="color:#e74a4a ;font-size: 35px;transition: 0.2s;" href=""><i class="fas fa-envelope"></i></a></li>
                  <li style="display: inline-block; margin: 10px 10px;"><a style="color:#62c0ff ;font-size: 35px;transition: 0.2s;" href=""><i class="fab fa-twitter"></i></a></li>
                </ul>
                </div>
                </div>
                <div class="col-sm-3 offset-sm-1"><br><br>
               
                  <div class="card" style="width: 18rem;">
                    <div style="border: solid 2px BLACK;border-radius: 2px;padding: 10px;">
                    <img src="https://exquisite-taste-magazine.com/wp-content/uploads/2020/02/IMG_9849.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6 style="text-align: center;font-weight: 700;font-size: 3CH;font-family:'Montserrat', sans-serif; ;">HI I'M MICHAEL !</h6>
                      <p class="card-text">I believe you can make great food with everyday ingredients even if you’re short on time and cost conscious. You just need to cook clever and get creative !.</p>
               
                  </div>
                  </div> 
                </div> 
                </div>
              </div>
              </div>
              <div class="container">
                <hr>
              </div>
              <BR>
              
                <!--Footer-->
    <br> <br>

    
</body>
<%- include ("partials2/footer"); %>
</html>
      

            
              
