<div style="background-color: whitesmoke;">
    <hr style="border: 3px solid black;">
    <footer class="page-footer">
      <div class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <a class="navbar-brand" href="#">
              <img src="img/cooklist.png" weight="40" height="40" alt="" class="d-inline-block" loading
              ="lazy">
              COOKLIST
          </a>
            <p style="font-size: 20px; position: relative; top: 10px;">…no one is born a great cook, one learns by doing.<p style="font-weight: bold; position: relative; top: 15px;">Julia Child </p></p>
          </div>

          <hr class="clearfix w-100 d-md-none">


          <div class="col-md-2 mx-auto">

            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Recepies</h5>

            <ul class="list-unstyled">
              <li>
                <a href="Project_Vegetarian.html">Appetizer</a>
              </li>
              <li>
                <a href="Project_Bakery.html">Vegetarian</a>
              </li>
              <li>
                <a href="Project_Dishes.html">Desert</a>
              </li>
            </ul>

          </div>


          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-2 mx-auto">

            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Cuisines</h5>

            <ul class="list-unstyled">
              <li>
                <a href="Project_ChineseCuisine.html">Asian Cuisines</a>
              </li>
              <li>
                <a href="Project_WestCuisine.html">West Cuisines</a>
              </li>
              <li>
                <a href="Project_IndonesiaCuisine.html">Indonesian Cuisines</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a href="/users/register" class="btn btn-danger btn-rounded">Sign up!</a>
        </li>
      </ul>

      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <i class="fab fa-dribbble"> </i>
          </a>
        </li>
      </ul>
      </div>

      <div class="footer-copyright text-center py-3" style="background-color:lightgray;">© 2020 Copyright:
        <a href="index.html"> COOKLIST.com</a>
      </div>
    </footer>